
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Dashboard works!</h5>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'testa'" routerLinkActive="active"> Dashboard testA </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'testb'" routerLinkActive="active"> Dashboard testB </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'testc'" routerLinkActive="active"> Dashboard testC</a>
      </li>
    </ul>
    <p class="card-text">
      <router-outlet></router-outlet>
    </p>
  </div>
</div>
